@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #ec4755;
  --color-secondary: #a12c34;
  --color-tertiaty: #99a0a3;
}

@font-face {
  font-family: "Manrope";
  src: url(../../public/assets/fonts/Manrope-Bold.woff2) format("woff2");
}

@font-face {
  font-family: "Inter";
  src: url(../../public/assets/fonts/Inter-VariableFont.ttf) format("truetype");
}

body {
  font-family: "Inter", "Manrope";
}
* {
  @apply duration-150;
}

h1,
h2,
h3 {
  font-family: "Manrope", "Inter", sans-serif;
  font-weight: 800;
}

.content p {
  @apply my-6;
}

.content ul {
  @apply my-6;
}

.sticky-section article {
  @apply flex flex-col gap-4 lg:w-1/2 text-lg lg:text-xl;
}
.sticky-section {
  @apply flex flex-col lg:flex-row justify-between gap-y-4 gap-x-10 border-b border-gray-300;
  min-height: 500px;
}
.sticky-section h2{
  @apply sticky top-20 text-2xl md:text-4xl lg:text-6xl;
}
